h1 {
    color: red;
}

/* Estoy probando colores y fuentes */
p {
    color: blue;
    font-size: 16pt;
}

#primera-noticia {
    color: green;
    font-size: 12pt;
}

#segunda-noticia {
    /* color: darkmagenta; */
    font-size: 10pt;
}

.encabezado {
    font-size: 24pt;
    text-transform: uppercase;
}

*.warning {
    color: red;
}

.autor, .fecha, .ubicacion, h1, #segunda-noticia {
    text-decoration: underline;
}