/* (1, 0, 0) */
/* (0, 1, 0) */
/* (0, 0, 1) */
/* (0, 0, 0) */

h1#h1-id.h1-clase {
    color: darksalmon;
}

.h1-clase {
    color: yellow;
}

h1 {
    color: blue !important;
    /* EVITAR en la medida de lo posible el !important */
}

p {
    color: red;
}