/* https://codepen.io/enxaneta/full/adLPwv */

.contenedor {
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    min-height: 5rem;
    /* Eje principal */
    justify-content: space-around;

    /* Eje secundario */
    align-items: center;

    /* flex-direction: column; */

    flex-wrap: wrap;
}

.item {
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem;
}

.item2 {
    align-self: stretch;
}